<!DOCTYPE html>
<html>
  <head>
    <title>SIM2390</title>
    <%= csrf_meta_tags %>


    <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="//use.fontawesome.com/6c8ce02979.js"></script>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header id="main_navigation" class="clearfix">
    <%= link_to "SIM2390", root_path, class: "name" %>
    <nav>
<!--      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %> -->
      <%= link_to "Doctors", doctors_path %>
      <%= link_to "Add Doctor", new_doctor_path %>


      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% elsif %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>


    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy; sim2390</p>
    <nav>
      <a href="https://soundcloud.com/simdj" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/simdj/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://google.com" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>

    </nav>
  </footer>

</html>
